.accordion {
  background: linear-gradient(to bottom right, hsla(0, 0%, 90%, 0.4), white);
  margin: 0;
  height: 100%;
  .label {
    background: white;
    position: relative;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.4px;
    padding: 10px 0px;
    text-align: center;
    color: hsla(0, 0%, 31%, 1);
    box-shadow: -30px 0px 0 hsla(48, 100%, 50%, 1) inset;
    margin-bottom: 1px;
    border: 1px solid hsla(0, 0%, 21%, 0.5);
    overflow: hidden;
    &:nth-child(1) {
      height: calc(100vh - 80px - 39px - 39px);
    }
    .label-second-tier {
      //margin: 10px 0px;
      padding: 10px 0px;
      //border-top: 1px solid hsla(0, 0%, 21%, 0.5);

      //box-shadow: -40px 0px 0 hsla(48, 100%, 50%, 1) inset;
      .label-text {
        padding: 10px 0px;
        font-size: 13px;
        text-align: left;
        padding-left: 30px;
        &:nth-child(odd) {
          background: hsla(0, 0%, 89%, 0.6);
          box-shadow: -30px 0px 0 hsla(48, 100%, 50%, 1) inset;
        }
        &:nth-child(even) {
          background: hsla(0, 0%, 94%, 0.6);
          box-shadow: -30px 0px 0 hsla(48, 100%, 50%, 1) inset;
        }
      }
    }
    .label-third-tier {
      color: hsla(0, 0%, 31%, 1);
      font-size: 12px;

      p {
        padding: 0px 55px 15px 40px;
        text-align: left;
        //border: 1px solid green;
        font-weight: normal;
        letter-spacing: 0px;
        line-height: 20px;
        box-shadow: 30px 0px 0 hsla(195, 100%, 50%,0.1) inset;
      }
      .third-tier-header {
        padding: 10px 0px;
        //background: hsla(195, 100%, 50%,0.1);
        box-shadow: -30px 0px 0 hsla(48, 100%, 50%, 1) inset,
                     30px 0px 0 hsla(195, 100%, 50%,0.1) inset;
        //border: 1px solid yellow;
        //background: hsla(0, 0%, 9%, 0.4);
        text-align: right;
        padding-right: 60px;
        &:nth-child(even) {
          background: hsla(0, 0%, 92%, 0.2);
          //box-shadow: -30px 0px 0 hsla(48, 100%, 50%, 1) inset;
        }
        .left-third-tier {
          position: absolute;
          left: 8px;
          top: 12px;
          color: hsla(0, 0%, 30%, 0.8);
          //text-shadow: 2px 2px 1px hsla(0,0,0,0.2);
        }
        .right-third-tier {
          font-size: 10px;
          position: absolute;
          right: 40px;
          top: 12px;;
        }
        &:nth-child(2) {
          box-shadow: 30px 0px 0 hsla(0, 100%, 50%,0.1) inset;
          //color: green;
        }
        &:nth-child(3) {
          box-shadow: 30px 0px 0 hsla(84, 100%, 59%, 0.1) inset;
          //color: green;
        }
        &:nth-child(4) {
          box-shadow: 30px 0px 0 hsla(51, 100%, 50%, 0.1) inset;
          //color: green;
        }
        &:nth-child(5) {
          box-shadow: 30px 0px 0 hsla(33, 100%, 50%, 0.1) inset;
          //color: green;
        }
        &:nth-child(6) {
          box-shadow: 30px 0px 0 hsla(0, 0%, 0%, 0.1) inset;
          //color: green;
        }
        &:nth-child(7) {
          box-shadow: 30px 0px 0 hsla(25, 76%, 31%, 0.1) inset;
          //color: green;
        }
        &:nth-child(8) {
          box-shadow: 30px 0px 0 hsla(300, 100%, 25%, 0.1) inset;
          //color: green;
        }

      }
    }
    .label-icons {
      color: hsla(0, 0%, 51%, 0.7);
      font-size: 16px;
    }
    .left {
      position: absolute;
      left: 10px;
    }
    .right {
      position: absolute;
      right: 7px;
      font-size: 20px;
      color: white;
    }
  }
}
